In [1]:
import pandas as pd
import numpy as np

In [10]:
df = pd.read_csv("fr-en-calendrier-scolaire.csv", sep=";")
df.head()

,Description,Population,Date de début,Date de fin,Académies,Zones,"annee_scolaire,"
0,Vacances de Noël,-,2017-12-22T23:00:00+00:00,2018-01-07T23:00:00+00:00,Clermont-Ferrand,Zone A,"2017-2018,"
1,Vacances de Noël,-,2017-12-22T23:00:00+00:00,2018-01-07T23:00:00+00:00,Poitiers,Zone A,"2017-2018,"
2,Vacances d'Été,Élèves,2018-07-06T22:00:00+00:00,2018-09-02T22:00:00+00:00,Bordeaux,Zone A,"2017-2018,"
3,Vacances d'Été,Élèves,2018-07-06T22:00:00+00:00,2018-09-02T22:00:00+00:00,Clermont-Ferrand,Zone A,"2017-2018,"
4,Vacances de la Toussaint,-,2018-10-19T22:00:00+00:00,2018-11-04T23:00:00+00:00,Clermont-Ferrand,Zone A,"2018-2019,"

Paris belongs to the Zone C

In [14]:
data = df[df["Académies"]=="Paris"]
data.head()

,Description,Population,Date de début,Date de fin,Académies,Zones,"annee_scolaire,"
222,Vacances de Noël,-,2017-12-22T23:00:00+00:00,2018-01-07T23:00:00+00:00,Paris,Zone C,"2017-2018,"
230,Vacances de Noël,-,2018-12-21T23:00:00+00:00,2019-01-06T23:00:00+00:00,Paris,Zone C,"2018-2019,"
245,Pont de l'Ascension,-,2020-05-19T22:00:00+00:00,2020-05-24T22:00:00+00:00,Paris,Zone C,"2019-2020,"
248,Vacances de Noël,-,2020-12-18T23:00:00+00:00,2021-01-03T23:00:00+00:00,Paris,Zone C,"2020-2021,"
257,Vacances d'Été,Élèves,2021-07-05T22:00:00+00:00,2021-09-01T22:00:00+00:00,Paris,Zone C,"2020-2021,"

In [40]:
df['Date de début'] = pd.to_datetime(df['Date de début'])
df['Date de fin'] = pd.to_datetime(df['Date de fin'])

# Fonction pour générer une liste de dates entre deux dates
def generate_date_range(start_date, end_date):
    return pd.date_range(start=start_date.date(), end=end_date.date()).tolist()

# Appliquer la fonction à chaque ligne du DataFrame
all_dates = []
for index, row in df.iterrows():
    dates = generate_date_range(row['Date de début'], row['Date de fin'])
    all_dates.extend(dates)

# Convertir la liste de dates en DataFrame et en datetime
vacation_dates_df = pd.DataFrame(all_dates, columns=['date'])
vacation_dates_df['date'] = pd.to_datetime(vacation_dates_df['date'])

vacation_dates_df.head()

        date
0 2017-12-22
1 2017-12-23
2 2017-12-24
3 2017-12-25
4 2017-12-26

In [39]:
# Convertir la date que vous vérifiez en objet datetime
check_date = pd.to_datetime('2017-12-24')

# Vérifier si la date est présente dans le DataFrame
print(check_date in vacation_dates_df['date'].values)

True

In [42]:
vacation_dates_df.to_csv("Propre_vacances_scolaires.csv", index=False)

In [ ]:
df = pd.read_csv("jours_feries_metropole.csv")
df.head()

         date  annee       zone   nom_jour_ferie
0  2004-01-01   2004  Métropole      1er janvier
1  2004-04-12   2004  Métropole  Lundi de Pâques
2  2004-05-01   2004  Métropole          1er mai
3  2004-05-08   2004  Métropole            8 mai
4  2004-05-20   2004  Métropole        Ascension

In [47]:
df_ferie = df['date']
df_ferie = pd.DataFrame(df_ferie, columns=['date'])
df_ferie['date'] = pd.to_datetime(df_ferie['date'])
df_ferie.head()

        date
0 2004-01-01
1 2004-04-12
2 2004-05-01
3 2004-05-08
4 2004-05-20

In [49]:
df_ferie.to_csv("Propre_jours_feries.csv", index=False)