In [1]:
import pandas as pd
import numpy as np

In [42]:
df = pd.read_csv("fr-en-calendrier-scolaire.csv", sep=";")
df.head()

,Description,Population,Date de début,Date de fin,Académies,Zones,"annee_scolaire,"
0,Vacances de Noël,-,2017-12-22T23:00:00+00:00,2018-01-07T23:00:00+00:00,Clermont-Ferrand,Zone A,"2017-2018,"
1,Vacances de Noël,-,2017-12-22T23:00:00+00:00,2018-01-07T23:00:00+00:00,Poitiers,Zone A,"2017-2018,"
2,Vacances d'Été,Élèves,2018-07-06T22:00:00+00:00,2018-09-02T22:00:00+00:00,Bordeaux,Zone A,"2017-2018,"
3,Vacances d'Été,Élèves,2018-07-06T22:00:00+00:00,2018-09-02T22:00:00+00:00,Clermont-Ferrand,Zone A,"2017-2018,"
4,Vacances de la Toussaint,-,2018-10-19T22:00:00+00:00,2018-11-04T23:00:00+00:00,Clermont-Ferrand,Zone A,"2018-2019,"

Paris belongs to the Zone C

In [47]:
data = df[df["Académies"]=="Paris"]
data = data[data["Population"] !="Enseignants"]
data.head()

,Description,Population,Date de début,Date de fin,Académies,Zones,"annee_scolaire,"
222,Vacances de Noël,-,2017-12-22T23:00:00+00:00,2018-01-07T23:00:00+00:00,Paris,Zone C,"2017-2018,"
230,Vacances de Noël,-,2018-12-21T23:00:00+00:00,2019-01-06T23:00:00+00:00,Paris,Zone C,"2018-2019,"
245,Pont de l'Ascension,-,2020-05-19T22:00:00+00:00,2020-05-24T22:00:00+00:00,Paris,Zone C,"2019-2020,"
248,Vacances de Noël,-,2020-12-18T23:00:00+00:00,2021-01-03T23:00:00+00:00,Paris,Zone C,"2020-2021,"
257,Vacances d'Été,Élèves,2021-07-05T22:00:00+00:00,2021-09-01T22:00:00+00:00,Paris,Zone C,"2020-2021,"

In [48]:
data['Date de début'] = pd.to_datetime(data['Date de début'])
data['Date de fin'] = pd.to_datetime(data['Date de fin'])

data = data.sort_values(by='Date de début')
data.head(10)

,Description,Population,Date de début,Date de fin,Académies,Zones,"annee_scolaire,"
1519,Vacances de la Toussaint,-,2017-10-20 22:00:00+00:00,2017-11-05 23:00:00+00:00,Paris,Zone C,"2017-2018,"
222,Vacances de Noël,-,2017-12-22 23:00:00+00:00,2018-01-07 23:00:00+00:00,Paris,Zone C,"2017-2018,"
1957,Vacances d'Hiver,-,2018-02-16 23:00:00+00:00,2018-03-04 23:00:00+00:00,Paris,Zone C,"2017-2018,"
1959,Vacances de Printemps,-,2018-04-13 22:00:00+00:00,2018-04-29 22:00:00+00:00,Paris,Zone C,"2017-2018,"
1521,Vacances d'Été,Élèves,2018-07-06 22:00:00+00:00,2018-09-02 22:00:00+00:00,Paris,Zone C,"2017-2018,"
1523,Vacances de la Toussaint,-,2018-10-19 22:00:00+00:00,2018-11-04 23:00:00+00:00,Paris,Zone C,"2018-2019,"
230,Vacances de Noël,-,2018-12-21 23:00:00+00:00,2019-01-06 23:00:00+00:00,Paris,Zone C,"2018-2019,"
1106,Vacances d'Hiver,-,2019-02-22 23:00:00+00:00,2019-03-10 23:00:00+00:00,Paris,Zone C,"2018-2019,"
687,Vacances de Printemps,-,2019-04-19 22:00:00+00:00,2019-05-05 22:00:00+00:00,Paris,Zone C,"2018-2019,"
1110,Pont de l'Ascension,-,2019-05-28 22:00:00+00:00,2019-06-02 22:00:00+00:00,Paris,Zone C,"2018-2019,"

In [49]:
# Fonction pour générer une liste de dates entre deux dates
def generate_date_range(start_date, end_date):
    return pd.date_range(start=start_date.date(), end=end_date.date()).tolist()

# Appliquer la fonction à chaque ligne du DataFrame
all_dates = []
for index, row in data.iterrows():
    dates = generate_date_range(row['Date de début'], row['Date de fin'])
    all_dates.extend(dates)

# Convertir la liste de dates en DataFrame et en datetime
vacation_dates_data = pd.DataFrame(all_dates, columns=['date'])
vacation_dates_data['date'] = pd.to_datetime(vacation_dates_data['date'])

vacation_dates_data.head()

        date
0 2017-10-20
1 2017-10-21
2 2017-10-22
3 2017-10-23
4 2017-10-24

In [50]:
# Convertir la date que vous vérifiez en objet datetime
check_date = pd.to_datetime('2017-12-24')

# Vérifier si la date est présente dans le DataFrame
print(check_date in vacation_dates_data['date'].values)

True

In [51]:
vacation_dates_data.to_csv("Propre_vacances_scolaires.csv", index=False)

In [52]:
df = pd.read_csv("jours_feries_metropole.csv")
df.head()

         date  annee       zone   nom_jour_ferie
0  2004-01-01   2004  Métropole      1er janvier
1  2004-04-12   2004  Métropole  Lundi de Pâques
2  2004-05-01   2004  Métropole          1er mai
3  2004-05-08   2004  Métropole            8 mai
4  2004-05-20   2004  Métropole        Ascension

In [53]:
df_ferie = df['date']
df_ferie = pd.DataFrame(df_ferie, columns=['date'])
df_ferie['date'] = pd.to_datetime(df_ferie['date'])
df_ferie.head()

        date
0 2004-01-01
1 2004-04-12
2 2004-05-01
3 2004-05-08
4 2004-05-20

In [54]:
df_ferie.to_csv("Propre_jours_feries.csv", index=False)